
.abouthead {
    display: flex;
    flex-wrap: wrap;
    font-weight: 10px;
    justify-content: center;
    height: 65px;
    color: bisque;
    background-color: darkslategray;
    align-items: center;
    text-shadow: 1px 4px black;
}
.abouthead {
    position: relative;
   
  }
  .title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  
.container2 {
    background-color: bisque;
    height: auto;

}
.word {
    margin: auto;
    color: rgb(110, 109, 109);
    font: 500 normal 2.5em 'tahoma';
    text-shadow: 3px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  }
.servicehead {
    display: flex;
    flex-wrap: wrap;
    font-weight: 10px;
    justify-content: center;
    height: 60px;
    color: bisque;
    background-color: darkslategray;
    align-items: center;
    font-family: italic;
}
.servicehead
{
    font-family: 'Teko', sans-serif;
    color: bisque;
    background-color: darkslategrey;
   margin-top:15px;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
}
 @keyframes glow {
    from {
      text-shadow: 0 0 20px rgb(218, 187, 147);
    }
    to {
      text-shadow: 0 0 30px antiquewhite, 0 0 10px bisque;
    }
  }

.pichead {
    display: flex;
    flex-wrap: wrap;
    font-weight: 30px;
    justify-content: center;
    height: 60px;
    color: bisque;
    background-color: darkslategray;
    align-items: center;
    font-family: italic;
    text-shadow:2px 3px gray;

    position: relative;
  }
  .pichead span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: bisque;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip{
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
.col-md-6 {
    box-shadow: 0.80px 2px;
    padding: 5px;
}

/*.gallery{
    background: url("https://media.istockphoto.com/photos/open-book-on-wooden-desk-background-picture-id1216379658?b=1&k=20&m=1216379658&s=170667a&w=0&h=DdkvumWGntiSjGytKr76xPTOQOvP2hmLsTsFh7XXrLs=");
    background-attachment: fixed;
    background-size: cover;
    height:auto;
    width:100%;
}
.photo  {
    margin: 20px;
    width:20%;
    height:220px;
    border-radius:10%;
    box-shadow:0 20px 40px rgba(0,0,0,0.4);
    border:2px solid gray;
}*/
@media(max-width:700px){
      .photo{
              width:30%;
              height:120px;
              margin:0px;
      }
      .slide {
             height:fit-content;
      }
}

.connect{
    background-color:rgb(77, 97, 116);
    height:auto;
    width:100%;
}

.sci{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.sci li a{
    
    display: inline-block;
    margin-left:15px;
    margin-top:10px;
    background:#222;
    width:50px;
    height: 50px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    text-decoration: none;
}
.sci a i{
    transition:all linear 0.5s;
}
.sci a:hover{
    
    transform:scale(1.2);
    background-color:white;
    clip-path: circle(95% at right -10%); 
}
.fa-facebook{
    color:#4267B2;
}

.fa-instagram{
    color:#e84393;
}
.fa-youtube{
    color:#e84118;
}
.fa-linkedin{
    color:#0097e6;
}
.info{
    color:antiquewhite;
    display: flex;
    flex-wrap:wrap;
   
}
.info p{
    margin-right:35px;
}
.content{
    position: relative;
     width: 100%;
     
     display: flex;
     
     justify-content: space-between;
     align-items: center;
     
}
.content .textbox{
    position: relative;
    max-width: 700px;
    color: bisque;
}


.content .textbox h2{
    color:#333;
    font-size:3em;
    line-height: 1.4em;
    font-weight:500;
    font-family: italic;
    color:antiquewhite;
    }
    @media(max-width:700px){
        .content .textbox h2{
              
         font-size:1.5em;
         font-weight:250;
         width:250px;
        }
        .content .textbox p{
            width:200px;
        } 
    }
    .content .textbox h2 span
    {
         color:white;
         font-size:1.2em;
         font-weight:900;
    } 
    .content .textbox h2 .emo
    {
         color:darkgreen;
         font-size:1.2em;
         font-weight:900;
    } 
    .content .imgbox{
        width:500px;
        display:flex;
        justify-content: flex-end;
        padding-right: 100px;
        margin-top: 50px;
    }  
    .content .imgbox img{
        max-width: 350px;
    } 
    @media(max-width:700px){
        .content .imgbox img{
        margin-left:0px;
         width:68px;
        height:100px;
        
        }
           
    }
    .thumb li {
            
            display: inline-block;
            margin:10px 20px;
            cursor:pointer;
            transition: all linear 0.5s;
    }
    
    .thumb li:hover{
        transform:translateY(-15px);
    }
    .thumb{
        position: absolute;
       left:50%;
        bottom:0px;
        transform: translateX(-50%);
        display: flex;
        
    }
    .thumb li img{
        max-width: 55px;
        height: 75px;
        
        padding-top: 10px;
    }
    @media(max-width:700px){
      
        .thumb li img{
            height:40px;
            width:30px;
            padding:0px 0px 0px 0px;
        }
        .thumb li{
            margin:5px 2px;
        }
    }
.bookhead h2{
    font-family:italic;
    text-align: center;
    font-weight:900;
    font-size: 3.5em;
    background-color: #333;
    color:antiquewhite;
    text-shadow:8px 5px black;
}
.loghead{
    text-align: center;
    color:aliceblue;
}
.hi-slide{
    position:relative;
    width:754px;
    height:292px;
    border-radius:50px;
    margin:50px auto 0;
}
.hi-slide .hi-next,
.hi-slide .hi-prev {
              position:absolute;
              top:50%;
              width:40px;
              height:40px;

              margin-top:-20px;
              border-radius:50px;
              line-height:40px;
               text-align:center;
               cursor:pointer;
               background-color:white;
               color:black;
               transition: all 0.7s;
               font-size: 20px;
               font-weight: bold;
}
.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover{
    opacity:1;
    background-color: white;
}
.hi-slide .hi-prev{
    left:-59px;
}
.hi-slide .hi-prev::before{
          content:'<';
}
.hi-slide .hi-next{
    right:-59px;
}
.hi-slide .hi-next::before{
    content:'>';
}
.hi-slide>ul{
    position:relative;
    width:754px;
    height:292px;
    margin:0;
    padding: 0;
}
.hi-slide>ul>li{
    overflow: hidden;
    position:absolute;
    z-index:0;
    left:377px;
    top:147px;
    width:0;
    height:0;
    margin:0;
    padding:0;
    border:3px solid white;
    cursor:pointer;
    background-color: #333;

}
.hi-slide>ul>li>img{
    width:100%;
    height:100%;
    background-position:center ;
}

  
.logsign{
    display:flex;
    flex-wrap: wrap;
    padding:2px 4px 2px 2px;
    justify-content: center;
    align-items: center;
}
.logsign button{
    margin-right:2px;
    margin-left:2px;
    border:1px solid gray;
    box-shadow:1px 1px 0 0 gray;
    border-radius:2px;
    transition: all linear 0.3s;
    background-color: rgb(85, 81, 85);
    color:azure;
    
}
.logsign button:hover{
            background-color: #333;
}
@media(max-width:600px){
    .logsign{
        margin-bottom: 5px;
        padding-left:10px;
    }
}
.mb-3 a{
    text-decoration: none;
}
.textbox h2 span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(12) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(13) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(14) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(15) {
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(16) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(17) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(18) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }